.product-details .card-container {
    display: flex;
    justify-content: center;
  }

.product-details .card {
    display: flex;
    border: 1px solid #e2e8f0;
    border-radius: 8px;
    width: 450%;
    margin-top: 25px;
  }
  
  .product-details .card img {
    flex: 1;
    width: 50%;
    height: 110%;
    object-fit: cover;
  }
  
  .product-details .card-content {
    flex: 1;
    padding: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .product-details .card-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .product-details .card-price {
    color: #4a5568;
    font-size: 16px;
  }
  